/* .watch-card {
    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
    border-radius: .8rem;
} */

.card-content {
    border: 0.01rem solid whitesmoke;
}

.watch-img,
.btn-area {
    border-radius: .4rem;
}

.buy-btn {
    border-radius: .2rem;
}

.watch-card:hover{
    transform: scale(1.0);
    transition: all 1s ease-in-out;
}
@media (max-width:499px) {
    .watch-card {
        width: 300px;
    }
}