.btnHeader{
    padding: 5px 25px;
    border-radius: 20px;
    border: 0;
    color:#000000;
    background: transparent;
    text-decoration: none;
    margin-right:3px;
    font-weight: 500;
}
.btnHeader:hover {
    background: #ff0000;
    color: white;
    font-weight: 500;
}

.bgColor{
    background-color: #fafafae3;
}
.dropDown{
    background: #fffa65;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0px 5px;
}

.activeBtn {
    background: #ff0000;
    color: white;
    font-weight: 500;
}

@media (max-width:499px){
    .displayDesign{
        display: inline!important;
    }
    .dBlock{
    background-color: #d3d3d34d;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    width: 30%;    
    margin: 1%;
    display: inline-block;
    text-align: center;
}
.bgColor{
    background-color: transparent;

}
}

@media (min-width:500px) and (max-width:800px){
    .displayDesign{
        display: inline!important;
    }
    .dBlock{
    background-color: #d3d3d34d;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    width: 30%;    
    margin: 1%;
    display: inline-block;
    padding: 0!important;
    text-align: center;
}
.bgColor{
    background-color: transparent;

}
}