@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #111b36;
  border-radius: 1rem;
  outline: none;
}

.dancingFont {
  font-family: 'Dancing Script', cursive;
}